{% extends "base.html" %}

{% block header %}
    <!-- header -->
    <header
      class="bg-white shadow-lg w-10/12 h-auto rounded-3xl flex flex-col sm:flex-row justify-between items-center p-5 m-7 md:w-3/6"
    >
      <a href="{% url 'home' %}">
        <h1 class="text-blue-600 font-bold text-[40px]">Task Management</h1>
      </a>
      <a
        class="bg-blue-600 py-2 px-4 text-white font-semibold rounded-2xl text-lg mt-4 flex items-center gap-2"
        href="./index.html"
      >
        <i class="bx bxs-left-arrow-circle bx-sm"></i> Go Back
      </a>
    </header>
{% endblock header %}

{% block navigation_bar%}
{% endblock navigation_bar%}

{% block content %}
    <!-- Tasks -->
    <section
      class="flex flex-1 flex-wrap justify-center gap-3 bg-[#fff0] w-10/12 md:w-11/12 h-full mb-3 rounded-2xl p-3 overflow-y-auto scrollbar-hide"
    >
      <!-- Task card -->
      <div class="w-full md:w-4/6 flex flex-col bg-white h-fit rounded-xl p-3">
        <!-- Top -->
        <div class="flex flex-row justify-between">
          <!-- Left: Title and Description -->
          <div>
            <h1 class="text-green-500 font-semibold text-xl">
              {{ task.title }}
            </h1>
            <br />
            <h2 class="text-blue-500 font-bold">
              Status:
              {% if task.completed %}
                <span class="font-medium text-green-400"
                  >Completed <i class="bx bxs-badge-check"></i
                ></span>
              {% else %}
                <span class="font-medium text-red-400"
                  >Not Completed <i class="bx bxs-sad"></i
                ></span>              
              {% endif %}
            </h2>
            <h2 class="text-gray-500 font-bold italic underline mt-3">
              Description
            </h2>
            <p class="text-gray-500 text-md">
              {{ task.description }}
            </p>
          </div>
          <!-- Right: Toggle complete mode -->
          <a href="">
            <i class="bx bx-check-circle bx-sm text-blue-500"></i>
            <!-- <i class='bx bxs-check-circle'></i> -->
          </a>
        </div>
        <!-- Line -->
        <hr class="border-t border-gray-200 my-2" />
        <!-- Bottom: Time and Date | Delete -->
        <div class="flex flex-row justify-between">
          <h2 class="text-gray-500 font-bold">
            Due {{ task.due_date }} <span class="font-medium text-gray-400">{{ task.due_time }}</span>
          </h2>
          <a href="./delete.html">
            <i class="bx bxs-trash bx-sm text-red-500"></i>
          </a>
        </div>
      </div>
    </section>
{% endblock content %}
